.wrapper {
  width: 720;
}

.label {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 8px;
}

.textarea {
  width: 100%;
  height: 240px;
  padding: 16px;
  border: 1px solid #d0d5dd;
  border-radius: 16px;
  outline: none;
  resize: none;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  background: fff;
}
