.wrapper {
  width: 720px;
}

.label {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 17px;
}

.textarea {
  width: 100%;
  height: 240px;

  padding: 24px;

  border: none;
  border-radius: 41px;

  background: #e3e3e3;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);

  box-sizing: border-box;
  outline: none;
  resize: none;

  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.33);
}

.textarea::placeholder {
  color: rgba(0, 0, 0, 0.33);
}
