.title {
  display: flex;
  justify-content: center;
  margin: 48px auto;
  font-size: 32px;
  color: #6b6b6b;
}

.cardGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 48px 64px 32px 64px;
  gap: 24px;
}
