.commentForm {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 720px;
  height: 92px;
  margin: auto;
  margin-top: 16px;
  gap: 12px;
}

.input {
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  border: 1px rgba(0, 0, 0, 0.5) solid;
  border-radius: 5px;
}

.commentFormButton {
  width: 120px;
  height: 40px;
  background-color: #18a0fb;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 11px 29px;
}
