.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: #ffffff;
}

.title {
  font-size: 32px;
  margin-bottom: 40px;
  color: #333;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  width: 450px;
  gap: 24px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 15px;
  font-weight: bold;
  color: #333;
}

.input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  background-color: #f5f5f5;
  font-size: 16px;
}

.input:focus {
  outline: none;
  border-color: #18a0fb;
}

.button {
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: #18a0fb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #0d8de0;
}

.linkText {
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  color: #333;
}

.link {
  color: #18a0fb;
  text-decoration: none;
  margin-left: 5px;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}
