.loginHeader{
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  height: 80px;
  background-color: #d9d9d9;
}

.loginButton{
  margin-left: 20px;
  width: 120px;
  height: 40px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight:bold;
  color: black;
  background-color: #d9d9d9;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}
    
.signUpButton{
  margin-left: 20px;
  width: 120px;
  height: 40px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight:bold;
  color: white;
  background-color: #383838;
  border: 2px solid #383838;
  border-radius: 10px;
  cursor: pointer;
}