.container {
  width: 240px;
  height: 57px;
}

.label {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.select {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0 8px;
  background: #fff;
}
